.container {
  text-align: center;
  background-color: #ffffff;
}
.header {
  text-align: right;
  padding-right: 10px;
  display: inline;
}
nav {
  font-size: 0.9rem;
  color: black;
  padding: 5px;
  height: 8vh;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  padding: 5px;
  list-style: none;
  opacity: 0.5;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 4px;
  font-size: 16px;
  margin-top: auto;
}
.image {
  align-content: center;
  margin-top: 100px;
  scale: 2;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
input {
  border: lightgrey 0.2em solid;
  border-radius: 2em;
  padding: 0.7em 1.5em;
  width: 40vw;
}
button {
  border: none;
  padding: 0.7em 1em;
  border-radius: 0.3em;
  margin: 2em 0.5em;
}
